.form{
        width: 1000px; 
        margin: auto;
        padding: 5px; 
        background-color: rgb(159, 255, 255);
        border: solid rgb(129, 129, 129) 1px;	
        border-radius: 12px;  
        box-shadow: 8px 8px 2px rgb(255, 255, 255); 
}
.form1{
text-align: center;
border-radius: 12px; 
margin: auto;
padding: 5px; 	     
}