* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-size: cover;
    font-family: sans-serif;
}

.login-wrapper {
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    position: relative;
    width: 1000%;
    max-width: 600px;
    padding: 80px 40px 40px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    color: rgb(221, 21, 21);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}

.form::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.08);
    transform: skewX(-26deg);
    transform-origin: bottom left;
    border-radius: 10px;
    pointer-events: none;
}

.form img {
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    width: 100px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
}

.form h2 {
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    color: white;
}

.form .input-group {
    position: relative;
}

.form .input-group input {
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background-color: transparent;
    color: inherit;
}

.form .input-group label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 1rem;
    pointer-events: none;
    transition: 0.3s ease-out;
}

.form .input-group input:focus+label,
.form .input-group input:valid+label {
    transform: translateY(-18px);
    color: rgb(219, 12, 12);
    font-size: 0.8rem;
}

.submit-btn {
    display: block;
    margin-left: auto;
    border: none;
    outline: none;
    background: #ff652f;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.forgot-pw {
    color: inherit;
}

#forgot-pw {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    z-index: 1;
    background: #fff;
    opacity: 0;
    transition: 0.6s;
}

#forgot-pw:target {
    height: 100%;
    opacity: 1;
}

.close {
    position: absolute;
    right: 1.5rem;
    top: 0.5rem;
    font-size: 2rem;
    font-weight: 900;
    text-decoration: none;
    color: inherit;
}

#login {
    font-weight: 1000px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(206, 246, 3);
    font-style: italic;

}


.forget-btn {
    font-size: 2px;

    padding-bottom: 10px;
    background-color: #15d290;
    border-radius: 40px;
    border-width: 3px;
    box-shadow: rgba(232, 8, 8, 0.04) 0 0 20px 0, rgba(0, 0, 0, 0.1) 0 8px 10px 0;
    color: #0f0f10;
    cursor: pointer;

    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 0.8em;
    height: 40px;
    padding: 0 10px;
    transition: all 100ms;

}

.loginback {
    padding-bottom: 10px;
    background-color: #e6c314;
    border-radius: 40px;
    border-width: 3px;
    box-shadow: rgba(232, 8, 8, 0.04) 0 0 20px 0, rgba(0, 0, 0, 0.1) 0 8px 10px 0;
    color: #1916d7;
    cursor: pointer;

    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 0.8em;
    height: 42px;
    padding: 0 15px;
    transition: all 100ms;


}






/* box model, flexbox, animations, positions
 food ordering application */

/* class name always starts with a dot */
.red {
    color: red;
}

/* box model:
border -> thickness, style, color
padding
margin
*/
.card {
    border: 1px solid lightgray;
    border-radius: 18px;
    padding: 10px;
    margin: 8px;
    width: 330px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* text-align: center; */
}

.card-img {
    width: 100%;
    border-radius: 70px;
}

.btn {
    background-color: black;
    border: none;
    color: white;
    padding: 12px 24px;
    border-radius: 80px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.demo {
    height: 80px;
    width: 80px;
    background-color: turquoise;
    animation-name: demo-animation;
    animation-duration: 1s;
    /* animation-fill-mode: forwards; */
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

/* @keyframes is used to define destination */
@keyframes demo-animation {
    100% {
        background-color: blueviolet;
        transform: rotate(360deg);
        margin-top: 700px;
    }
}

.card:hover {
    animation-name: card-animation;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    cursor: pointer;
}

@keyframes card-animation {
    100% {
        /* width: 360px; */
        transform: rotate(3deg);
    }
}